<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/main.css">
    <title>Weather App</title>
</head>
<body>

    

    <div class="heading"><h1>Weather App</h1></div>

    <div>
    
    <ul class="navbar">
        <li><a href="/weather">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</div>